@model InternalsApplication.Models.Report

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Dept_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Dept_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script.Teacher_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script.Teacher_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Teacher_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Teacher_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Report_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
