@model InternalsApplication.Models.Script

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Script</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Teacher_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Teacher_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IA3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
