@model IEnumerable<InternalsApplication.Models.ClassRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Dept_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Teacher_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Dept_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Teacher_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Room_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Room_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Room_No })
        </td>
    </tr>
}

</table>
